// Form Colors
$form-color-1: #4D9FFF;
$form-color-2: #FFB54D;
$form-color-3: #54C7FC;
$form-color-4: #FF6885;
$form-color-5: #44DB5E;

// Main Colors
$orange: #FF8533;
$orange-light: #FFA970;
$orange-lighter: #FFCEAD;
$orange-lightest: #FFF3EB;

$rose: #FF2851;
$rose-light: #FF6885;
$rose-lighter: #FFA9B9;
$rose-lightest: #FFE9ED;

$watermelon: #FF3824;
$watermelon-light: #FF7466;
$watermelon-lighter: #FFAFA7;
$watermelon-lightest: #FFEBE9;

$grass: #71B300;
$grass-light: #9BC94D;
$grass-lighter: #C6E099;
$grass-lightest: #F1F7E6;

$sky-blue: #54C7FC;
$sky-blue-light: #87D7FC;
$sky-blue-lighter: #BAE8FD;
$sky-blue-lightest: #EEF9FE;

$sea-blue: #009AFF;
$sea-blue-light: #4DB8FF;
$sea-blue-lighter: #99D6FF;
$sea-blue-lightest: #E6F5FF;

$dark-grey: #222222;
$dark-grey-light: #545454;
$dark-grey-lighter: #848484;
$dark-grey-lightest: #E9E9E9;

$bronze: #EB8D1F;
$bronze-light: #F0AB60;
$bronze-lighter: #F6C999;
$bronze-lightest: #FDF3E9;

$gold: #FFCD00;
$gold-light: #FFDC4D;
$gold-lighter: #FFEB99;
$gold-lightest: #FFF4BD;

// Secondary Colors
$slate-grey: #AAB2BD;
$slate-grey-light: #C3C9D0;
$silver: #E6E9ED;
$silver-light: #F5F7FA;

$mouse-grey: #F1F1F1;
$graphite-black: #D9D9D9;
$snow-white: #FAFAFA;
$dark-grey-secondary: #7C7C7C;
$grayish-blue: #333745;
$light-blue: #F2F9FF;
$verify-white: #FFFFFF;

//new colors (will be added to ui guideline when confirm finally)

//end of new colors

$wordpress-blue: #1A7096;
$alipay-blue: #00A9F1;
$weixin-green: #0BB908;
$pingpp-black: #000000;
