@mixin field-time-field {
  .field-time-field {
    .time-selects {
      @include clearfix;
      @include form-control-max-width(294px);
      @include phone-device {
        max-width: none;
      }

      .bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
        width: 30%;
      }

      .dropdown-wrapper {
        width: 32%;
        margin-right: 2%;
        float: left;
        &:last-child {
          margin-right: 0;
        }
      }
    }
  }
}
