.panel {
  &.panel-slim {
    .panel-heading {
      dl {
        margin: 0;

        .heading-item + .heading-item {
          border-left: 1px solid $silver;
          margin-left: 6px;
          padding-left: 6px;
        }

        dt {
          width: auto;
          font-weight: normal;
          clear: none;
        }
        dd {
          margin-left: 0;
          font-weight: bold;
          float: left;
        }
        dd + dt {
          border-left: 1px solid $silver;
          margin-left: 6px;
          padding-left: 6px;
        }
      }
    }
    .panel-heading, .panel-body {
      padding: 5px 10px;
    }
  }
}
